



:root {
    background: url(https://i.pinimg.com/originals/b2/2a/a2/b22aa22b2f3f55b6468361158d52e2e7.gif) fixed;
    background-size: cover;
}

::selection {
    color: rgb(255, 77, 0);
    background: black;
}

a:active {
    color: rgb(233, 174, 65);
}

.intro, #zen-supporting, #zen-participation, #zen-benefits, #zen-requirements {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}



.intro h1 {
    

    text-align: center;
    align-content: center;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    background-color: rgb(214, 191, 237);

}
 .intro h2 {
    text-align: center;
    background-color: azure;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
 }

 .summary, h2 {
    
    padding-left: 10px;
    padding-right: 10px;
 }


.intro h3 {
    text-align: center;
    
    margin-left: 100px;
    margin-right: 100px;

}

.preamble{

    padding-left: 10px;
    padding-right: 10px;

}

aside.sidebar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(246, 240, 248, 0.968);
    border-style: solid;

}



* {
    color: rgb(0, 0, 0);
}

.page-wrapper {
    display: flex;
}

p {
    font-weight: 1000;
}

 .summary, .preamble {
    background-color: rgba(240, 248, 255, 0.688);
    border-style: solid;
    border-radius: 10px;
}

nav, .zen-resources, .resources, .design-archives, .design-selection {
    padding-right: 20px;
    align-content: center;
    background-color: rgb(205, 253, 253);
    border-radius: 10px;
    
}




.supporting {
    background-color: rgba(250, 235, 215, 0.818);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border-style: solid;
}